#gameContainer {
    font-family: Georgia, sans-serif;
    text-align: center;
}

.cell {
    width: 75px;
    height: 75px;
    box-shadow: 0 0 0 2px;
    border: 2px solid;
    cursor: pointer;
    font-size: 50px;
}

#cellContainer {
    display: grid; 
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    line-height: 75px;
}